body{
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

p::selection, a::selection{
    background-color: #00fff1;
    color: #233148;
}

.website-top{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 70px;
    height: auto;
}

.title{
    color: #00fff1;
    font-size: 35px;
    text-decoration: none;
}

.nav-ul{
    display: flex;
}

.nav-li a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 15px;
}

.right-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.app-link{
    font-size: 14px;
    color: #223047;
    text-decoration: none;
    background-color: #00fff1;
    padding: 12px 30px;
    border-radius: 10px;
}

.banner{
    width: 100%;
    background-color: #223047;
}

.banner-contents{
    width: 100;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
}

.left-content{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 

.left-content *{
    margin-bottom: 50px;
    line-height: 1.4;
}

.title-left{
    color: #ffffff;
    font-size: 40px;
}

.desc-left{
    color: #4e596c;
    font-size: 14px;
}

.reach-out{
    font-size: 14px;
    background-color: #223047;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 30px;
    border: 1px solid #ffffff;
    border-radius: 11px;
    margin-left: 20px;
}

.buttons-left{
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-content{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.phone{
    position: absolute;
    bottom: -80px;
}

.phone-parts{
    width: 18vw;
    height: 520px;
    border: 10px solid #161f32;
    border-radius: 35px;
    background-color: #00fff1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.island{
    width: 11vw;
    height: 20px;
    background-color: #000;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto auto auto;
}

.earpads{
    width: 3vw;
    height: 5px;
    background-color: #3d4652;
    border-radius: 5px;
    margin-right: 6px;
}

.front-camera{
    width: 0.4vw;
    height: 5px;
    background-color: #3d4652;
    border-radius: 4px;
}

/* Second Section Of Appo */

.services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-title{
    font-size: 30px;
    color: #233148;
    margin-top: 200px;
    width: 25%;
    text-align: center;
    line-height: 1.3;
}

.service-items{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 50px 15% 100px 15%;
}

.items-list{
    width: 23%;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 0.8px solid #f2f3f4;
    cursor: pointer;
}

.items-list:hover{
    background-color: #ddd;
    color: #f8f8f8;
    border-radius: 14px;
}

.items-list img{
    width: 100%;
    max-width: 150px;
    height: 135px;
    margin: auto;
    border-radius: 15px;
}

.item-li-titles{
    font-size: 17px;
    color: #233148;
    margin-bottom: 30px;
    text-align: center;
}

.item-li-desc{
    font-size: 14px;
    color: #97a4be;
    line-height: 1.6;
    text-align: center;
}

/* 3RD Section Of Appo */

.company-info{
    display: flex;
    width: 100%;
}

.company-section-1{
    width: 40%;
    flex-grow: 40;
    background-color: #323a4d;
}

.company-section-2{
    width: 60%;
    background-color: #f5f6fa;
}

.info-title{
    width: 40%;
    font-size: 30px;
    color: #233148;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 45px;
    line-height: 1.5;
}

.info-desc{
    width: 55%;
    color: #97a4be;
    font-size: 14px;
    line-height: 2;
    margin-left: 100px;
    margin-bottom: 100px;
}

/* 4th Section Of Appo */

.presentation{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 120px;
    margin-bottom: 100px;
    align-items: center;
}

.pres-article,
.pres-image{
    width: 45%;
}

.pres-article{
    direction: rtl;
}

.pres-title{
    font-size: 30px;
    color: #233148;
    margin-bottom: 50px;
}

.pres-desc{
    color: #97a4be;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 45px;
}

.pres-anchor{
    font-size: 14px;
    color: #223047;
    text-decoration: none;
    background-color: #00fff1;
    padding: 12px 30px;
    border-radius: 10px;
}

.pres-anchor:hover{
    box-shadow: 0px 0px 25px 4px rgba(0,255,241,0.45);
}

.pres-image-child{
    width: 100%;
}

/* 5th Section */

.app-top{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.phone-image{
    width: 45%;
    position: relative;
}

.phone-image-img{
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    bottom: -30px;
}

.app-middle{
    width: 45%;
}

.middle-li{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.middle-li:hover{
    box-shadow: 0px 0px 25px 6px rgba(0,255,241,0.56);
}

.middle-li:hover{
    background-color: #00fff0;
}

.middle-li-title::selection .middle-li-desc::selection{
    background-color: #161f32 ;
    color: #00fff1 ;
}

.middle-text{
    display: flex;
    flex-direction: column;
    margin: 25px 70px 25px 0px;
}

.middle-li-title{
    font-size: 17px;
    color: #161f32;
    line-height: 1.7;
    margin-bottom: 10px;
}

.middle-li-desc{
    font-size: 14px;
    color: #161f32;
    line-height: 1.7;
}

.awe-icon{
    font-size: 35px;
    margin: 25px;
}

/* section 6 */

.app-bottom{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.app-bottom-child{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.app-bottom-left{
    width: 43%;
    margin-bottom: 70px;
    padding-top: 70px;
    text-align: right;
}

.bottom-l-title{
    font-size: 30px;
    color: #000;
    margin-bottom: 35px;
    line-height: 1.3;
}

.bottom-l-chioce{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 30px;
}

.choice-child{
    font-size: 17px;
    color: #000;
    margin: 10px;
}

.bottom-l-desc{
    font-size: 14px;
    color: #97a4be;
    line-height: 2;
}

.fa-check-circle{
    color: #00fff0;
    background-color: #233148;
    border-radius: 30px;
    font-size: 19px;
    margin-right: 15px;
}

.app-bottom-right{
    width: 43%;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.box1{
    width: 120px;
    height: 302px;
    background-color: #ffffff;
    box-shadow: -2px -3px 2px 2px #B3B3B3;
}

.box2{
    width: 260px;
    height: 440px;
    background-color: #2c3233;
    box-shadow: 0 -1px 2px 2px #B3B3B3;
}

.box3{
    width:130px;
    height: 275px;
    background-color: #ffffff;
    box-shadow: 2px -2px 2px 2px #B3B3B3;
}

/* Video Section */

.video-section{
    width: 40%;
    margin:  auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 230px;
}

.fa-play-circle{
    font-size: 76px;
    color: #00fff0;
    margin-bottom: 30px;
    cursor: pointer;
}

.fa-play-circle:hover{
    color: #f00;
}

.video-warning{
    font-size: 17px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 40px;
}

.video-text{
    font-size: 14px;
    color: #ffffff;
    line-height: 2;
    width: 100%;
}

/* Globe */

.globe{
    /* background-image: url('imgs/globe.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 644px;
    max-height: 645px;
}

.globe *{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.globe-title{
    font-size: 30px;
    color: #223047;
    line-height: 1.5;
    padding-bottom: 20px;
    text-align: center;
}

.globe-text{
    line-height: 2;
    font-size: 17px;
    color: #223047;
    margin-bottom: 60px;
    padding-top: 0;
}

.globe-a{
    width: 175px;
    margin: 0 auto;
    font-size: 17px;
    color: #223047;
    text-decoration: none;
    background-color: #00fff1;
    padding: 12px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 4px rgba(0,255,241,0.45);
}

.testimonial{
    font-size: 14px;
    width: 45%;
    color: #00fff0;
    padding-top: 140px;
    padding-bottom: 140px;
    line-height: 1.7;
    text-align: center;
}

/* app download section */

.app-add{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.app-add-left{
    width: 45%;
}

.android-2{
    width: 100%;
}

.app-add-right{
    width: 45%;
}

.app-add-title{
    font-size: 40px;
    color: #223047;
    line-height: 2;
}

.app-add-desc{
    font-size: 17px;
    color: #97a4be;
    line-height: 2;
    margin-bottom: 30px;
}

.app-download-imgs{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.app-download-imgs:hover{
    box-shadow: none;
}
.abs-button{
    position: absolute;
    bottom: 0;
}

.abs-button-a{
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #223047;
    background-color: #00fff0;
    padding: 25px 120px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 7px rgba(0,255,241,0.45);
}

/* footer */

.footer{
    margin-top: 90px;
    margin-bottom: 100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    line-height: 2.0;
}

.footer-p{
    font-size: 17px;
    color: #223047;
    margin-bottom: 10px;
}

.footer-a{
    font-size: 14px;
    color: #97a4be;
    text-decoration: none;
}

.form{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 100px;
}

input[type=text] {
    width: 100%;
    padding: 14px 10px;
    border-radius: 5px;
    border:none;
    background-color: #f5f6fa;
    color: #343447;
    font-size: 14px; 
}
    
input[type=submit] {
    padding: 12px 40px;
    color: #223047;
    background-color: #00fff1;
    border-radius: 3px;
    border:none;
    box-shadow: 0px 0px 10px 5px #D7FFE9;
    text-align: center ;
}

/* footer bottom */

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 100px;
}

.copyright-p{
    font-size: 17px;
    color: #00fff0;
}

.social-li *{
    font-size: 20px;
    color: #ffffff;
    margin: 0 9px;
    text-decoration: none;
}

@media only screen and (max-width: 1024px){
    .banner-contents{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .left-content{
        width: 80% ;
        justify-content: center ;
    }

    .left-content *{
        text-align: center ;
    }

    .buttons-left{
        display: flex;
        justify-content: center;
    }

    .right-content{
        position: relative;
        height: 20vw ;
        display: flex;
        justify-content: center ;
        margin-top: 70px;
    }

    .phone{
        transform: rotate(90deg);
        position: absolute ;
    }

    .phone-parts{
        width: 20vw ;
        height: 60vw ;
        border: 10px solid #161f32;
        border-radius: 35px;
        background-color: #00fff1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .island{
        width: 11vw;
        height: 20px;
        background-color: #000;
        border-radius: 0px 0px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto auto auto;
    }
    
    .earpads{
        width: 3vw;
        height: 5px;
        background-color: #3d4652;
        border-radius: 5px;
        margin-right: 6px;
    }
    
    .front-camera{
        width: 0.4vw;
        height: 5px;
        background-color: #3d4652;
        border-radius: 4px;
    }

    .app-top{
        display: flex;
        flex-direction: column-reverse;
    }

    .app-middle{
        display: flex ;
        width: 100% ;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-li{
        width: 40% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .middle-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0px ;
    }

    .middle-text *{
        margin: 0px ;
    }

    .phone-image{
        width: 30vw;
        height: 90vh;
        margin: auto;
    }
}

@media only screen and (max-width: 865px){

    .services-title{
        width: 40% ;
    }
    .service-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;

    }
    .items-list{
        width: 40% ;
        margin-bottom: 15px;
    }

    .presentation{
        display: flex;
        flex-direction: column;
    }

    .pres-article, .pres-image{
        margin-bottom: 80px;
        width: 80% ;
    }

    .pres-article{
        text-align: center;
    }

    .app-bottom-child{
        width: 80% ;
    }

    .footer{
        width: 80% ;
    }

    .footer-bottom{
        width: 80% ;
    }

    .form{
        width: 80% ;
    }
    
}

@media only screen and (max-width: 645px){
    .website-top{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .right-content{
        display: none ;
    }

    .services-title{
        width: 65% ;
    }

    .app-middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .middle-li {
        width: 100% ;
    }

    .middle-li-desc{
        margin-bottom: 20px ;
    }

    .phone-image, .phone-image-img{
        height: 60vh ;
    }

    .app-bottom-child{
        width: 80%;
    }

    .app-bottom-left{
        width: 100% ;
        text-align: center ;
    }

    .app-bottom-right{
        width: 75% ;
        margin-left: auto ;
        margin-right: auto ;
    }

    .app-bottom-child{
        display: flex;
        flex-direction: column;
    }

    .video-section{
        width: 65% ;
    }

    .video-text{
        width: 100% ;
    }

    .app-add{
        width: 80% ;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 0;
    }

    .app-add-left{
        width: 50% ;
        height: 50%;
        margin: 0;
    }

    .app-add-right{
        width: 100% ;
        margin: 0;
        text-align: center;
    }

    .app-download-imgs{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .footer{
        width: 90% ;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center ;
    }

    .copyright{
        margin-bottom: 30px;
    }

    .form{
        width: 90% ;
    }

}

@media only screen and (max-width: 520px){
    .website-top{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .website-top *{
        margin-bottom: 8px;
    }

    .services-title{
        width: 80%;
    }

    .service-items{
        display: flex ;
        justify-content: center ;
        flex-direction: column ;
    }

    .items-list{
        width: 80% ;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .company-section-1{
        width: 20% ;
    }

    .company-section-2{
        width: 80% ;
    }

    .info-title,
    .info-desc{
        margin-left: 10px ;
    }

    .phone-image, .phone-image-img{
        height: 40vh ;
    }

    .box1{
        height: 150px ;
    }

    .box2{
        height: 220px ;
    }

    .box3{
        height: 147.5px ;
    }

    .testimonial{
        width: 80% ;
    }

    .video-section{
        width: 80% ;
    }

    .video-text{
        width: 100% ;
    }

    .footer{
        width: 80% ;
        display: flex ;
        flex-wrap: wrap ;
        justify-content: space-evenly ;
        margin-left: auto ;
        margin-right: auto ;
    }

    .footer-ul{
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .footer-li{
        margin-left: auto ;
        margin-right: auto ;
    }
}

@media only screen and (max-width: 380px){
    .buttons-left{
        display: flex ;
        flex-direction: column ;
        justify-content: center ;
    }

    .reach-out{
        margin: 0 ;
    }

    .services-title{
        width: 90% ;
    }

    .app-download-imgs{
        display: flex;
        flex-direction: column;
        width: 140px ;
    }

    .download-li{
        margin-bottom: 20px;
    }

    .abs-button-a{
        padding: 12.5px 60px ;
    }

    .footer-bottom{
        width: 100% ;
    }
}